lib/state-machines/processTargetAccounts-asl.json
{
  "Comment": "State machine for organization/tag processing",
  "StartAt": "Process type",
  "States": {
    "Process type": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.entityType",
          "StringMatches": "root",
          "Next": "Call ListAccounts"
        },
        {
          "Variable": "$.entityType",
          "StringMatches": "ou_id",
          "Next": "Call ListAccountsForParent"
        },
        {
          "Variable": "$.entityType",
          "StringMatches": "account_tag",
          "Next": "call GetResources"
        }
      ],
      "Default": "No matches for entityType, so do nothing"
    },
    "call GetResources": {
      "Type": "Task",
      "Next": "Loop through all resources matching tag key value filter",
      "Parameters": {
        "ResourcesPerPage.$": "$.pageSize",
        "ResourceTypeFilters.$": "States.Array($.resourceTypeFilters)",
        "TagFilters": [
          {
            "Key.$": "$.tagKey",
            "Values.$": "States.Array($.tagValues)"
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:resourcegroupstaggingapi:getResources",
      "ResultPath": "$.getResources",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "BackoffRate": 1.5,
          "IntervalSeconds": 2,
          "MaxAttempts": 2
        }
      ]
    },
    "Loop through all resources matching tag key value filter": {
      "Type": "Map",
      "Iterator": {
        "StartAt": "Publish getResources to SNS topic",
        "States": {
          "Publish getResources to SNS topic": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
              "Message.$": "$",
              "TopicArn.$": "$.topicArn"
            },
            "Retry": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "BackoffRate": 1.5,
                "IntervalSeconds": 2,
                "MaxAttempts": 2
              }
            ],
            "End": true
          }
        }
      },
      "ItemsPath": "$.getResources.ResourceTagMappingList",
      "Parameters": {
        "entityType.$": "$.entityType",
        "action.$": "$.action",
        "topicArn.$": "$.topicArn",
        "instanceArn.$": "$.instanceArn",
        "targetType.$": "$.targetType",
        "principalType.$": "$.principalType",
        "permissionSetArn.$": "$.permissionSetArn",
        "principalId.$": "$.principalId",
        "pretargetId.$": "$$.Map.Item.Value.ResourceARN",
        "tagKey.$": "$.tagKey",
        "sourceRequestId.$": "$.sourceRequestId"
      },
      "Next": "Wait for throttling",
      "ResultPath": null
    },
    "Wait for throttling": {
      "Type": "Wait",
      "Next": "Check for PaginationToken in GetResources response?",
      "SecondsPath": "$.waitSeconds"
    },
    "Check for PaginationToken in GetResources response?": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.getResources.PaginationToken",
              "IsPresent": true
            },
            {
              "Not": {
                "Variable": "$.getResources.PaginationToken",
                "StringEqualsPath": "$.emptyString"
              }
            }
          ],
          "Next": "Call GetResources with PaginationToken"
        }
      ],
      "Default": "Final State"
    },
    "No matches for entityType, so do nothing": {
      "Type": "Pass",
      "End": true
    },
    "Call ListAccounts": {
      "Type": "Task",
      "Parameters": {
        "MaxResults.$": "$.pageSize"
      },
      "ResultPath": "$.listRootAccounts",
      "Resource": "arn:aws:states:::aws-sdk:organizations:listAccounts",
      "Next": "Loop through all accounts in root",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "BackoffRate": 1.5,
          "IntervalSeconds": 2,
          "MaxAttempts": 2
        }
      ]
    },
    "Call ListAccounts with NextToken": {
      "Type": "Task",
      "Parameters": {
        "MaxResults.$": "$.pageSize",
        "NextToken.$": "$.listRootAccounts.NextToken"
      },
      "ResultPath": "$.listRootAccounts",
      "Resource": "arn:aws:states:::aws-sdk:organizations:listAccounts",
      "Next": "Loop through all accounts in root",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "BackoffRate": 1.5,
          "IntervalSeconds": 2,
          "MaxAttempts": 2
        }
      ]
    },
    "Loop through all accounts in root": {
      "Type": "Map",
      "Next": "Wait for throttling - 2",
      "Iterator": {
        "StartAt": "Publish listaccounts to SNS topic",
        "States": {
          "Publish listaccounts to SNS topic": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
              "Message.$": "$",
              "TopicArn.$": "$.topicArn"
            },
            "Retry": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "BackoffRate": 1.5,
                "IntervalSeconds": 2,
                "MaxAttempts": 2
              }
            ],
            "End": true
          }
        }
      },
      "ItemsPath": "$.listRootAccounts.Accounts",
      "Parameters": {
        "entityType.$": "$.entityType",
        "action.$": "$.action",
        "topicArn.$": "$.topicArn",
        "instanceArn.$": "$.instanceArn",
        "targetType.$": "$.targetType",
        "principalType.$": "$.principalType",
        "permissionSetArn.$": "$.permissionSetArn",
        "principalId.$": "$.principalId",
        "pretargetId.$": "$$.Map.Item.Value.Id",
        "sourceRequestId.$": "$.sourceRequestId"
      },
      "ResultPath": null
    },
    "Wait for throttling - 2": {
      "Type": "Wait",
      "Next": "Check for NextToken in ListAcccounts response?",
      "SecondsPath": "$.waitSeconds"
    },
    "Check for NextToken in ListAcccounts response?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.listRootAccounts.NextToken",
          "IsPresent": true,
          "Next": "Call ListAccounts with NextToken"
        }
      ],
      "Default": "Final State"
    },
    "Call ListAccountsForParent": {
      "Type": "Task",
      "Parameters": {
        "MaxResults.$": "$.pageSize",
        "ParentId.$": "$.ou_id"
      },
      "Resource": "arn:aws:states:::aws-sdk:organizations:listAccountsForParent",
      "Next": "Loop through all accounts in ou_id",
      "ResultPath": "$.listAccountsForParent",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "BackoffRate": 1.5,
          "IntervalSeconds": 2,
          "MaxAttempts": 2
        }
      ]
    },
    "Loop through all accounts in ou_id": {
      "Type": "Map",
      "Iterator": {
        "StartAt": "Publish listAccountsByParent to SNS topic",
        "States": {
          "Publish listAccountsByParent to SNS topic": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
              "Message.$": "$",
              "TopicArn.$": "$.topicArn"
            },
            "Retry": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "BackoffRate": 1.5,
                "IntervalSeconds": 2,
                "MaxAttempts": 2
              }
            ],
            "End": true
          }
        }
      },
      "ItemsPath": "$.listAccountsForParent.Accounts",
      "Parameters": {
        "entityType.$": "$.entityType",
        "action.$": "$.action",
        "topicArn.$": "$.topicArn",
        "instanceArn.$": "$.instanceArn",
        "targetType.$": "$.targetType",
        "principalType.$": "$.principalType",
        "permissionSetArn.$": "$.permissionSetArn",
        "principalId.$": "$.principalId",
        "pretargetId.$": "$$.Map.Item.Value.Id",
        "sourceRequestId.$": "$.sourceRequestId"
      },
      "ResultPath": "$.listAccountsForParent.notifications",
      "Next": "Wait for throttling - 3"
    },
    "Wait for throttling - 3": {
      "Type": "Wait",
      "Next": "Check for NextToken in ListAccountsForParent response?",
      "SecondsPath": "$.waitSeconds"
    },
    "Check for NextToken in ListAccountsForParent response?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.listAccountsForParent.NextToken",
          "IsPresent": true,
          "Next": "Call ListAccountsForParent with NextToken"
        }
      ],
      "Default": "Only processNested OU's if required?"
    },
    "Only processNested OU's if required?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.supportNestedOU",
          "StringMatches": "true",
          "Next": "call ListChildren"
        }
      ],
      "Default": "Final State"
    },
    "call ListChildren": {
      "Type": "Task",
      "Next": "Process nested OU's",
      "Parameters": {
        "ChildType": "ORGANIZATIONAL_UNIT",
        "ParentId.$": "$.ou_id",
        "MaxResults.$": "$.pageSize"
      },
      "Resource": "arn:aws:states:::aws-sdk:organizations:listChildren",
      "ResultPath": "$.listChildrenResults"
    },
    "Process nested OU's": {
      "Type": "Map",
      "Next": "Wait for throttling - 4",
      "Iterator": {
        "StartAt": "Invoke the same state machine recursively",
        "States": {
          "Invoke the same state machine recursively": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Parameters": {
              "StateMachineArn.$": "$.stateMachineArn",
              "Input": {
                "action.$": "$.action",
                "entityType.$": "$.entityType",
                "instanceArn.$": "$.instanceArn",
                "permissionSetArn.$": "$.permissionSetArn",
                "principalId.$": "$.principalId",
                "principalType.$": "$.principalType",
                "targetType.$": "$.targetType",
                "topicArn.$": "$.topicArn",
                "sourceRequestId.$": "$.sourceRequestId",
                "pageSize.$": "$.pageSize",
                "waitSeconds.$": "$.waitSeconds",
                "tagKey.$": "$.tagKey",
                "emptyString.$": "$.emptyString",
                "tagValues.$": "$.tagValues",
                "ou_id.$": "$.ou_id",
                "resourceTypeFilters.$": "$.resourceTypeFilters",
                "supportNestedOU.$": "$.supportNestedOU"
              }
            },
            "End": true
          }
        }
      },
      "ItemsPath": "$.listChildrenResults.Children",
      "ResultPath": "$.processedOuList",
      "Parameters": {
        "action.$": "$.action",
        "entityType.$": "$.entityType",
        "instanceArn.$": "$.instanceArn",
        "permissionSetArn.$": "$.permissionSetArn",
        "principalId.$": "$.principalId",
        "principalType.$": "$.principalType",
        "targetType.$": "$.targetType",
        "topicArn.$": "$.topicArn",
        "sourceRequestId.$": "$.sourceRequestId",
        "pageSize.$": "$.pageSize",
        "waitSeconds.$": "$.waitSeconds",
        "tagKey.$": "$.tagKey",
        "emptyString.$": "$.emptyString",
        "tagValues.$": "$.tagValues",
        "ou_id.$": "$$.Map.Item.Value.Id",
        "resourceTypeFilters.$": "$.resourceTypeFilters",
        "supportNestedOU.$": "$.supportNestedOU",
        "stateMachineArn.$": "$$.StateMachine.Id"
      }
    },
    "Wait for throttling - 4": {
      "Type": "Wait",
      "Next": "Are there more children?",
      "SecondsPath": "$.waitSeconds"
    },
    "Are there more children?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.listChildrenResults.NextToken",
          "IsPresent": true,
          "Next": "call ListChildren with NextToken"
        }
      ],
      "Default": "Final State"
    },
    "call ListChildren with NextToken": {
      "Type": "Task",
      "Parameters": {
        "ChildType": "ORGANIZATIONAL_UNIT",
        "ParentId.$": "$.ou_id",
        "MaxResults.$": "$.pageSize",
        "NextToken.$": "$.listChildrenResults.NextToken"
      },
      "Resource": "arn:aws:states:::aws-sdk:organizations:listChildren",
      "ResultPath": "$.listChildrenResults",
      "Next": "Process nested OU's"
    },
    "Final State": {
      "Type": "Pass",
      "End": true
    },
    "Call ListAccountsForParent with NextToken": {
      "Type": "Task",
      "Parameters": {
        "MaxResults.$": "$.pageSize",
        "ParentId.$": "$.ou_id",
        "NextToken.$": "$.listAccountsForParent.NextToken"
      },
      "Resource": "arn:aws:states:::aws-sdk:organizations:listAccountsForParent",
      "ResultPath": "$.listAccountsForParent",
      "Next": "Loop through all accounts in ou_id",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "BackoffRate": 1.5,
          "IntervalSeconds": 2,
          "MaxAttempts": 2
        }
      ]
    },
    "Call GetResources with PaginationToken": {
      "Type": "Task",
      "Parameters": {
        "ResourcesPerPage.$": "$.pageSize",
        "ResourceTypeFilters.$": "States.Array($.resourceTypeFilters)",
        "TagFilters": [
          {
            "Key.$": "$.tagKey",
            "Values.$": "States.Array($.tagValues)"
          }
        ],
        "PaginationToken.$": "$.getResources.PaginationToken"
      },
      "Resource": "arn:aws:states:::aws-sdk:resourcegroupstaggingapi:getResources",
      "Next": "Loop through all resources matching tag key value filter",
      "ResultPath": "$.getResources",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "BackoffRate": 1.5,
          "IntervalSeconds": 2,
          "MaxAttempts": 2
        }
      ]
    }
  }
}
